<!DOCTYPE html>

<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    </head>
<body>
 <header>
 <ul class="header-menus">
 <% if @current_user %>
 <li>
   <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
 </li>
   <li>
   <%= link_to("logout","/logout", {method: :post}) %>

 </li>
 <li>
 <%= link_to("TOP","/articles")%>

</li>
<li>
 <%= link_to("new article","/articles/new")%>

</li>
<li>
 <%= link_to("MENBERS","/users/index")%>

</li>
<% else %>
 <li>
 <%= link_to("login","/login") %>
 </li>
<li>
 <%= link_to("signup","/signup")%>
 </li>
<% end %>
</ul>
</header>
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    
  </body>
</html>
